$background-light: #ffffff;
$background-light-hover: #f3f3f3;
$background-light-active: #efefef;
$background-light-selected: #d0eff7;
$background-grey: #e5e5e5;
$background-grey-hover: #e0e0e0;
$background-grey-transparent: rgba(0, 0, 0, 0.05);
$background-blue-dark: #4c5c64;

$text-dark: #000000;
$text-dark-blue: #222d32;
$text-light-blue: #37474f;
$text-light: #ffffff;
$text-grey: #9d9d9d;
$text-red: #de414c;

$border-black: #000000;
$border-grey: #e3e3e3;
$border-dark-grey: #9d9d9d;

$button-light: #ffffff;
$button-light-hover: #eeeeee;
$button-light-active: #d2d2d2;

$button-grey: #e0e0e0;

$button-dark: #222d32;
$button-dark-hover: #37474f;
$button-dark-active: #4c5c64;

$button-disabled: #9b9b9b;

$warning: #f9a423;

$primary: #ffffff;
$primaryShadow: rgba(0,0,0,.08);
$primaryLight: rgba(0,0,0,.03);
$secondary: #24292e;