$padding-super-min: 6px;
$padding-min: 8px;
$padding-small: 12px;
$padding-medium: 16px;
$padding-big: 24px;
$padding-max: 32px;

$margin-super-min: 2px;
$margin-min: 4px;
$margin-small: 8px;
$margin-medium: 16px;
$margin-big: 24px;
$margin-max: 32px;

$font-min: 10px;
$font-small: 12px;
$font-medium: 14px;
$font-big: 16px;
$font-max: 18px;
$font-super-max: 24px;

$border-radius-small: 4px;
$border-radius-big: 90px;
$border-radius-round: 50%;
